@use "../../abstracts/variables" as *;

.logo {
  gap: 0.6rem;
  font-size: $h3;
  font-family: $logo-font;

  &-img {
    color: $color-white-primary;
    background-color: var(--color-primary);
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 0.8rem;
  }

  &-text {
    font-size: $h3;
    letter-spacing: 0.2rem;
  }
}
