@use "../../abstracts/variables" as *;

.course-page {
  position: relative;

  & > .heading-tertiary {
    margin-bottom: 3.4rem;
  }
}

.number-circle {
  color: $color-white-primary;
  z-index: 9999;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 4.4rem;
    height: 4.4rem;
    background-color: var(--color-primary);
    color: $color-white-primary;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.road-map {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
  position: relative;

  &--badge {
    width: 20rem;
    position: absolute;
  }

  &--line {
    width: 0.2rem;
    height: 80rem;
    background-image: linear-gradient(
      var(--color-primary) 50%,
      var(--color-white-tertiary) 50%
    );
    position: relative;
  }

  &-points {
    position: absolute;
  }
}

.level {
  gap: 2.4rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &-text {
    width: 24rem;
  }
}

.level-1 {
  top: -3%;
  left: 49.5%;
}

.level-2 {
  top: 50%;
  right: 50%;
}

.badge-1 {
  top: 10%;
  left: 25%;
}

.points-1 {
  top: 22%;
  left: 55%;
}

.badge-2 {
  top: 65%;
  left: 53%;
}

.points-2 {
  top: 77%;
  left: 33%;
}
