@use "../../abstracts/variables" as *;

.visual-icon {
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 3.4rem;
  color: $color-white-primary;

  &--points {
    background-color: oklch(57.7% 0.245 27.325);
  }

  &--badges {
    background-color: oklch(64.8% 0.2 131.684);
  }

  &--streak {
    background-color: oklch(79.5% 0.184 86.047);
  }

  &--certificate {
    background-color: oklch(58.8% 0.158 241.966);
  }
}
